body{
    margin: 0;
    background-color: #EDEDED;

    -webkit-user-select: none !important; /* Safari */
    -moz-user-select: none !important;    /* Firefox */
    -ms-user-select: none !important;     /* IE 10 and IE 11 */
    user-select: none !important;         /* Standard syntax */
}

    html{
        scroll-behavior: smooth;
    }

a:link{
    text-decoration: none!important;
    -webkit-tap-highlight-color: transparent;

    
  }
  
  input{
        text-decoration: none!important;
    -webkit-tap-highlight-color: transparent;
  }

  button{
            text-decoration: none!important;
    -webkit-tap-highlight-color: transparent;
  }

  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50%);
    transition: all 0.80s;
  }
  
  .show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
  }
  
  .logo:nth-child(1) {
    transition-delay: 100ms ;
  }
  
  .logo:nth-child(2) {
    transition-delay:200ms ;
  }
  
  .logo:nth-child(3) {
    transition-delay:300ms ;
  }
  
  .logo:nth-child(4) {
    transition-delay:400ms ;
  }
  
  .logo:nth-child(5) {
    transition-delay: 500ms ;
  }
  .logo:nth-child(6) {
    transition-delay: 600ms ;
  }
  
  .logo:nth-child(7) {
    transition-delay: 700ms ;
  }

  .logo:nth-child(8) {
    transition-delay: 700ms ;
  }  
  
  .logo:nth-child(9) {
    transition-delay: 700ms ;
  }  

  .logo:nth-child(10) {
    transition-delay: 700ms ;
  }









  input[type="checkbox"] {
    border-radius: 8px;
    position: relative;
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    border: 4px solid #028dff00 ;


    justify-content: center;
    transition: 0.3s;
    cursor: pointer;

    position: absolute;
    top: -3px;
    left: -4px;
    z-index: 10;
  }

  input:checked[type="checkbox"]{
    width: 100%;
    background-color: #00000055;
    border: 2px solid #028dff ;
  }


























/*DESKTOP VIEW ONLY*/
.desktop{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;

    .top-nav-bar{
        width: 100%;
        height: 50px;
        background-color: #ffffff;
        border-bottom: 1px solid #D9D9D9;
        box-sizing: border-box;
        padding-left: 160px;
        padding-right: 160px;
        padding-top: 8px;
        padding-bottom: 8px;
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 6;


        .nav-btn-container{
            width: 500px;
            height: 100%;
            display: flex;
            gap: 36px;

            img{
                width: 23px;
                height: 28px;
            }

            .text-container{
                width: 100%;
                height: auto;
                display: flex;
                gap: 32px;
                align-items: center;

                .details{
                    font-size: 14px;
                    color: #000000;
                    font-family: inter;
                }

                .details:hover{
                    text-decoration: underline ;
                }

            }
        }

        .quotation{
            width: 160px;
            height: 100%;
            background-color: #1D3923;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
        
            .details{
                font-size: 12px;
                color: #ffffff;
                font-family: inter;
            }
        }

        .quotation:hover{
            background-color: black;
        }
    }





















    .flex-box{
      width: 100%;
      height: auto;
      display: flex;
      gap: 30px;
      box-sizing: border-box;
      justify-content: center;
      align-content: center;
      position: fixed;

      .divider{
        width: 100%;
        height: 1px;
        margin-top: 60PX;
        margin-BOTTOM: 60PX;
        background-color: #D9D9D9;
      }

      .content{
        width: 100%;
        height: 100vh;
        box-sizing: border-box;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 120px;
        gap: 100px;
        overflow-y: auto;
        display: grid;
        gap: 0;
        justify-content: center;
        padding-bottom: 300px;






        .flex-box2{
          height: auto;
          width: 800px;
          margin-top: 0px;

          .title{
              font-family: inter;
              font-weight: 700;
              font-size: 16px;
              color: black;
          }

          .content-container{
            box-sizing: border-box;
            padding-top: 0px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            gap: 16px;

            label{
              width: 180px;
            }
              

              .div{
                  width: 180px;
                  height: 130px;
                  background-color: #ededed;
                  border-radius: 8px;
                  display: inline-block;
                  position: relative;
                  margin-top: 12px;
                  transition: 0.4s;

                  .img{
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                      display: block;
                      border-radius: 8px;

                  }

              }

              .div:hover{
                  transform: scale(0.95);
              }

              
              .details{
                  font-family: inter;
                  font-size: 10px;
                  text-align: center;
                  margin-top: 8px;
              }
          }
        }
      }

























      .info{
        width: 430px;
        height: auto;
        margin-top: 50px;
        border-left: 1px solid #D9D9D9;

          .parent-container{
            width: 100%;
            height: auto;
            background-color: white;
            box-sizing: border-box;
            padding-left: 36px;
            padding-right: 36px;
            padding-top: 36px;
            padding-bottom: 32px;

            .title{
              font-family: inter;
              font-size: 22px;
              font-weight: 700;
            }

            .divider{
              width: 100%;
              height: 1px;
              background-color: #D9D9D9;
              margin-top: 18px;
              margin-bottom: 36px;
            }



            .input-group{
                width: 100%;
                height: auto;
                margin-left: auto;
                margin-right: auto;
                margin-top: 22px;
    
                .title{
                    font-family: inter;
                    font-size: 14px;
                    font-family: 500;
                }
                .form-element{
                    margin-top: 6px;
    
                    input{
                        box-sizing: border-box;
                        padding: 12px;
                        width: 97%;
                        height: 30px;
                        border: none;
                        background-color: #EDEDED;
                        border-radius: 8px;
                    }
                }   
            }





            .sticky{
              width: 100%;
              height: 200px;
              background-color: aqua;
              position: sticky;
              top: 0;
              z-index: 3;
            }








            .flex-box{
                height: auto;
                margin-top: 100px;

              .title{
                  font-family: inter;
                  font-weight: 700;
                  font-size: 16px;
                  color: black;
              }

              .content-container{
                width: 100%;
                box-sizing: border-box;
                padding-top: 0px;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                gap: 16px;
                justify-content: center;

                label{
                  width: 100%;
                }
                  

                  .div{
                      width: 100%;
                      height: 130px;
                      background-color: #ededed;
                      border-radius: 8px;
                      display: inline-block;
                      position: relative;
                      margin-top: 12px;
                      transition: 0.4s;

                      .img{
                          width: 100%;
                          height: 100%;
                          object-fit: cover;
                          display: block;
                          border-radius: 8px;

                      }

                  }

                  .div:hover{
                      transform: scale(0.95);
                  }

                  
                  .details{
                      font-family: inter;
                      font-size: 12px;
                      text-align: center;
                      margin-top: 8px;
                  }
              }
            }

              .divider2{
                margin-top: 120px;
                margin-bottom: 120px;
              }




            .btn-container{ 
              width: 260px;
              height: auto;
              padding-bottom: 16px;
              padding-top: 16px;
              border-top: solid 1px #D9D9D9;
              background-color: white;
              box-sizing: border-box;
              bottom: 0;
              position: absolute;
            }

            button{
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                height: 42px;
                cursor: pointer;
                background-color: #1d3923;
                border: 0;
                border-radius: 8px;
                transition: 0.16s;
                
                font-weight: 500;
                color: white;          
            }

            button:hover{
                background-color: rgb(0, 0, 0);
                transform: scale(0.9);
            }
          }
      }

    }

}

.mobile{
    display: none;
}





























































































































@media only screen and (max-width:750px) {
    .desktop{
        display: none;
    }

    /*MOBILE VIEW ONLY*/
    .mobile{
        display: block;

        .nav-bar{
            z-index: 6;
            position: fixed;
            display: flex;
            width: 100%;
            height: 54px;
            background-color: #ffffff;
            border-bottom: 1px solid #cccccc;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;

            .logo{
                width: 18px;
                height: auto;
            }

            .menu{
                position: absolute;
                width: 74px;
                height: 45px;
                right: 0;

                .click-box{
                    width: 100%;
                    height: 100%;
                    align-content: center;
                    box-sizing: border-box;
                    padding-right: 10px;
                    
                    .bar{
                        width: 32px;
                        height: 4px;
                        background-color: #d9d9d9;
                        border-radius: 100px;
                        transition: 0.3s
                    }
                }

                .click-box:hover{
                    .bar{
                        transform: scale(0.9);
                    }
                }
            }
        }


        .img-container{
          width: 100%;
          height: 500px;
        }

        .grid-box{
          width: 100%;
          height: auto;
          display: grid;
          gap: 12px;

          .parent-container{
            width: 100%;
            height: auto;
            background-color: white;
            box-sizing: border-box;
            padding-left: 32px;
            padding-right: 32px;
            padding-top: 36px;
            padding-bottom: 32px;

            .title{
              font-family: inter;
              font-size: 22px;
              font-weight: 700;
            }

            .divider{
              width: 100%;
              height: 1px;
              background-color: #D9D9D9;
              margin-top: 18px;
              margin-bottom: 36px;
            }



            .input-group{
                width: 100%;
                height: auto;
                margin-left: auto;
                margin-right: auto;
                margin-top: 22px;
    
                .title{
                    font-family: inter;
                    font-size: 14px;
                    font-family: 500;
                }
                .form-element{
                    margin-top: 6px;
    
                    input{
                        box-sizing: border-box;
                        padding: 12px;
                        width: 97%;
                        height: 40px;
                        border: none;
                        background-color: #EDEDED;
                        border-radius: 8px;
                    }
                }   
            }





            .sticky{
              width: 100%;
              height: 200px;
              background-color: aqua;
              position: sticky;
              top: 0;
              z-index: 3;
            }








            .flex-box{
                height: auto;
                margin-top: 100px;

              .title{
                  font-family: inter;
                  font-weight: 700;
                  font-size: 16px;
                  color: black;
              }

              .content-container{
                width: 100%;
                box-sizing: border-box;
                padding-top: 0px;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                gap: 16px;
                justify-content: center;

                label{
                  width: 100%;
                }
                  

                  .div{
                      width: 100%;
                      height: 130px;
                      background-color: #ededed;
                      border-radius: 8px;
                      display: inline-block;
                      position: relative;
                      margin-top: 12px;
                      transition: 0.4s;

                      .img{
                          width: 100%;
                          height: 100%;
                          object-fit: cover;
                          display: block;
                          border-radius: 8px;

                      }

                  }

                  .div:hover{
                      transform: scale(0.95);
                  }

                  
                  .details{
                      font-family: inter;
                      font-size: 12px;
                      text-align: center;
                      margin-top: 8px;
                  }
              }
            }

              .divider2{
                margin-top: 120px;
                margin-bottom: 120px;
              }
          }







          .parent-container2{
            width: 100%;
            height: auto;
            background-color: white;
            box-sizing: border-box;
            padding-bottom: 32px;

            .title{
              font-family: inter;
              font-size: 22px;
              font-weight: 700;
            }

            .divider2{
              width: 100%;
              height: 1px;
              background-color: #D9D9D9;
              margin-top: 18px;
              margin-bottom: 36px;
              box-sizing: border-box;
            }



            .input-group{
                width: 100%;
                height: auto;
                margin-left: auto;
                margin-right: auto;
                margin-top: 22px;
    
                .title{
                    font-family: inter;
                    font-size: 14px;
                    font-family: 500;
                }
                .form-element{
                    margin-top: 6px;
    
                    input{
                        box-sizing: border-box;
                        padding: 12px;
                        width: 97%;
                        height: 40px;
                        border: none;
                        background-color: #EDEDED;
                        border-radius: 8px;
                    }
                }   
            }





            .sticky{
              width: 100%;
              height: auto;
              background-color: rgb(255, 255, 255);
              border-bottom: solid 1px #D9D9D9;
              position: sticky;
              top: 0;
              z-index: 3;
              box-sizing: border-box;
              padding-top: 58px;

              .text-container{
                margin-bottom: 22px;
                box-sizing: border-box;

                .title{
                  padding-top: 12px;
                  padding-left: 28px;
                }


                .shortcuts {
                  width: 100vw; /* Example width, adjust as needed */
                  overflow-x: auto;
                  overflow-y: hidden;
                  white-space: nowrap;
                  margin-top: 12px;
                  z-index: 3;
                  box-sizing: border-box;
                  padding-left: 28px;
                  padding-right: 28px;
                }
                
                .shortcuts a {
                  display: inline-block;
                  padding: 10px;
                  margin-right: 5px; /* Add some spacing between links */
                  background-color: #f0f0f0;
                  text-decoration: none;
                  color: #000000;
                  border: 1px solid #ccc;
                  box-sizing: border-box;
                  padding-left: 22px;
                  padding-right: 22px;
                  padding-top: 8px;
                  padding-bottom: 8px;
                  transition: 0.2s;

                  text-decoration: none;

                  font-family: inter;
                  font-size: 12px;
                  border-radius: 100px;
                }

              .shortcuts a:hover{
                  transform: scale(0.9);
                  background-color: #D9D9D9;
                }

                .shortcuts::-webkit-scrollbar{
                  display: none;  /* Hide scrollbars */
                }
                
              }                    
            }

            .flooring-div{

            }








            .flex-box{
                height: auto;
                margin-top: 180px;

                box-sizing: border-box;
                padding-left: 36px;
                padding-right: 36px;

              .title{
                  font-family: inter;
                  font-weight: 700;
                  font-size: 16px;
                  color: black;
              }

              .content-container{
                width: 100%;
                padding-top: 0px;
                margin-left: auto;
                margin-right: auto;
                display: flex;
                gap: 16px;
                justify-content: center;

                label{
                  width: 100%;
                }
                  

                  .div{
                      width: 100%;
                      height: 130px;
                      background-color: #ededed;
                      border-radius: 8px;
                      display: inline-block;
                      position: relative;
                      margin-top: 12px;
                      transition: 0.4s;

                      .img{
                          width: 100%;
                          height: 100%;
                          object-fit: cover;
                          display: block;
                          border-radius: 8px;

                      }

                  }

                  .div:hover{
                      transform: scale(0.95);
                  }

                  
                  .details{
                      font-family: inter;
                      font-size: 12px;
                      text-align: center;
                      margin-top: 8px;
                  }
              }
            }

              .divider2{
                margin-top: 120px;
                margin-bottom: 120px;
              }
          }











          .btn-container{
              width: 100%;
              height: auto;
              padding-bottom: 16px;
              padding-top: 16px;
              border-top: solid 1px #D9D9D9;
              margin-left: auto;
              margin-right: auto;
              margin-top: 80px;
              box-sizing: border-box;
              padding-left: 22px;
              padding-right: 22px;
              bottom: 0;
              left: 0;
              right: 0;
          }

          button{
              margin-left: auto;
              margin-right: auto;
              width: 100%;
              height: 50px;
              cursor: pointer;
              background-color: #1d3923;
              border: 0;
              border-radius: 12px;
              transition: 0.16s;
              
              font-weight: 500;
              color: white;          
          }

          button:hover{
              background-color: rgb(0, 0, 0);
              transform: scale(0.9);
          }
        }






    }
}