body{
    margin: 0;

    -webkit-user-select: none !important; /* Safari */
    -moz-user-select: none !important;    /* Firefox */
    -ms-user-select: none !important;     /* IE 10 and IE 11 */
    user-select: none !important;         /* Standard syntax */
}

  html{
      scroll-behavior: smooth;
  
  }

  

a:link{
    text-decoration: none!important;
    -webkit-tap-highlight-color: transparent;

    
  }

  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50%);
    transition: all 0.80s;
  }
  
  .show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0%);
  }
  
  .logo:nth-child(1) {
    transition-delay: 100ms ;
  }
  
  .logo:nth-child(2) {
    transition-delay:200ms ;
  }
  
  .logo:nth-child(3) {
    transition-delay:300ms ;
  }
  
  .logo:nth-child(4) {
    transition-delay:400ms ;
  }
  
  .logo:nth-child(5) {
    transition-delay: 500ms ;
  }
  .logo:nth-child(6) {
    transition-delay: 600ms ;
  }
  
  .logo:nth-child(7) {
    transition-delay: 700ms ;
  }











/*DESKTOP VIEW ONLY*/
.desktop{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;

    .top-nav-bar{
        width: 100%;
        height: 50px;
        background-color: #ffffff;
        border-bottom: 1px solid #D9D9D9;
        box-sizing: border-box;
        padding-left: 160px;
        padding-right: 160px;
        padding-top: 8px;
        padding-bottom: 8px;
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: 6;


        .nav-btn-container{
            width: 500px;
            height: 100%;
            display: flex;
            gap: 36px;

            img{
                width: 23px;
                height: 28px;
            }

            .text-container{
                width: 100%;
                height: auto;
                display: flex;
                gap: 32px;
                align-items: center;

                .details{
                    font-size: 14px;
                    color: #000000;
                    font-family: inter;
                }

                .details:hover{
                    text-decoration: underline ;
                }

            }
        }

        .quotation{
            width: 160px;
            height: 100%;
            background-color: #1D3923;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
        
            .details{
                font-size: 12px;
                color: #ffffff;
                font-family: inter;
            }
        }

        .quotation:hover{
            background-color: black;
        }
    }

    .flex-box{
      position: fixed;
      width: 100%;
      height: auto;
      display: flex;
      box-sizing: border-box;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 50px;
      gap: 64px;


      .shortcuts{
        width: auto;
        height: 100vh;
        border-right: 1px solid #D9D9D9;
        box-sizing: border-box;
        padding-top: 60px;
        padding-left: 60px;
        padding-right: 100px;

        .title{
          color: #000000;
          font-family: inter;
          font-weight: 700;
          font-size: 32px;

        }

        .nav-shortcuts{
          display: grid;
          gap: 16px;
          margin-top: 20px;

          .nav-title{
            font-family: inter;
            color: #000000;
          }

          .nav-title:hover{
            text-decoration: underline;
          }
        }
      }

      .content{
        scroll-behavior: smooth;
        width: 100%;
        height: 100vh;
        overflow-y: auto;
        box-sizing: border-box;
        padding-right: 60px;

        .item{
          width: 100%;
          height: auto;
          margin-top: 80px;
          margin-bottom: 100px;

          .text-container{
            width: auto;
            height: auto;

            .sub-title{
              font-family: inter;
              font-size: 18px;
              font-weight: 500;
              color: #000000;
            }

            .title{
              font-family: inter;
              font-size: 22px;
              font-weight: 700;
              color: #1D3923;

            }
          }

          .overflow{
            width: 100%;
            height: auto;
            margin-top: -60px;
            overflow-x: auto;
            gap: 100px;
            white-space: nowrap;
            overflow-y: hidden;           /* Optional: hide vertical scrollbar */
             -ms-overflow-style: none;     /* IE and Edge */
            scrollbar-width: none;        /* Firefox */

            .item{
              display: inline-block;
              margin-right: 16px;     /* Spacing between items */
              width: 360px;
              height: 300px;
              border-radius: 12px;

              .img{
                width: 100%;
                height: 260px;
                object-fit: cover;
                border-radius: 12px;
                transition: 0.2s;
              }

              .img:hover{
                filter: brightness(80%); /* Lower = darker */
                transform: scale(0.9);
              }

              .title{
                font-family: inter;
                text-align: center;
                color: #000000;
                margin-top: 8px;
                font-size: 12px;

              }
            }
          }
        }
      }
    }

}

.mobile{
    display: none;
}







































































































@media only screen and (max-width:750px) {
    .desktop{
        display: none;
    }

    /*MOBILE VIEW ONLY*/
    .mobile{
        display: block;

        .nav-bar{
            z-index: 6;
            position: fixed;
            display: flex;
            width: 100%;
            height: 54px;
            background-color: #ffffff;
            border-bottom: 1px solid #cccccc;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;

            .logo{
                width: 18px;
                height: auto;
            }

            .menu{
                position: absolute;
                width: 74px;
                height: 45px;
                right: 0;

                .click-box{
                    width: 100%;
                    height: 100%;
                    align-content: center;
                    box-sizing: border-box;
                    padding-right: 10px;
                    
                    .bar{
                        width: 32px;
                        height: 4px;
                        background-color: #d9d9d9;
                        border-radius: 100px;
                        transition: 0.3s
                    }
                }

                .click-box:hover{
                    .bar{
                        transform: scale(0.9);
                    }
                }
            }
        }




        .shortcuts{
          width: 100%;
          height: 44px;
          background-color: #1D3923;
          position: fixed;
          margin-top: 54px;
          box-sizing: border-box;
          padding-left: 46px;
          z-index: 3;

          overflow: auto;
          white-space: nowrap;
        }

        .shortcuts a {
          display: inline-block;
          color: white;
          text-align: center;
          padding: 14px;
          text-decoration: none;

          font-family: inter;
          font-size: 12px;
          text-decoration: underline;
          transition: 0.2s;
        }

        .shortcuts a:hover{
          transform: scale(0.9);
        }

        .shortcuts::-webkit-scrollbar{
          display: none;  /* Hide scrollbars */
        }










        .parent{
          width: 100%;
          height: auto;
          margin-top: 0px;

          .section{
            width: 100%;
            height: 300px;
            padding-top: 100px;


            .text-container{
              width: 100%;
              height: auto;
              box-sizing: border-box;
              padding-left: 30px;
              padding-right: 30px;
              padding-top: 40px;

              .details{
                font-family: inter;
                color: #B28A5A;
                font-size: 14px;
                font-weight: 600;
              }

              .title{
                font-family: inter;
                color: black;
                font-size: 22px;
                font-weight: 700
              }
            }

            .scroll{
              width: 100%;
              height: auto;
              margin-top:  8px;
              box-sizing: border-box;
              padding-left: 18px;
              padding-right: 30px;
              gap: 100px;

              overflow: scroll;
              white-space: nowrap;

              .child{
                width: 260px;
                height: auto;
                margin-left: 12px;
                border-radius: 12px;
                transition: 0.2s;

                display: inline-block;

                .img-container{
                  width: 100%;
                  height: 200px;
                  border-radius: 12px;

                  .img{
                    border-radius: 12px;


                  }
                }

                .title{
                  font-family: inter;
                  color: black;
                  margin-top: 6px;
                  font-weight: 500;
                  font-size: 12px;
                  text-align: center;
                }
              }

              .child:hover{
                transform: scale(0.96);

                img{
                    filter: brightness(92%); /* Reduces brightness by 50% */
                }
              }
            }

              .scroll::-webkit-scrollbar{
              display: none;  /* Hide scrollbars */
            }
          }
        }



        
    }
}